    <div class="card" style="width: 100%;">
        <img 
        style='width:100px; height:100px'
        src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652_1280.png"
        class="card-img-top" alt="NO IMAGE">
        <div class="card-body">
          <h5 class="card-title">Name:{{ patient.patientName }}</h5>
          <p class="card-text">Gender:{{ patient.gender }}</p>
          <p class="card-text">Age:{{ patient.age }}</p>
          <!-- <p class="card-text">{{ patient.symptoms }}</p> -->
          <p class="card-text">Weakness:{{ patient.hasWeakness }}</p>
          <p class="card-text">Fever:{{ patient.hasFever }}</p>
          <p class="card-text">Headache:{{ patient.hasHeadache }}</p>
          <p class="card-text">Skin Prob:{{ patient.hasSkin }}</p>
          <p class="card-text">Weight Prob:{{ patient.hasWeight }}</p>
          <p class="card-text">Eyesight Prob:{{ patient.hasEyesight }}</p>
          <p class="card-text">City:{{ patient.city }}</p>
          <p class="card-text">Email:{{ patient.email }}</p>
          <p class="card-text">Mob no:{{ patient.mobileNo }}</p>
          <!-- <a (click)="deleteProd(product.id)" class="btn btn-primary">Delete</a> -->
    </div>
    </div>
